.bg-purple{
    background: #8655FC;
}
.bg-purple tr th{
    color: white;
}

.bg-deepblue{
    background-color: #2974AC;
}

.autocomplete-suggestions{
    overflow-y: auto;
}

.autocomplete-no-suggestion{
    margin-top: 10px;
    color: red;
    text-align: center;
}

.autocomplete-suggestion{
    background-color: white;
    border: 1px solid rgba(0,0,0,.125);
    padding: .75rem 1.25rem;
    margin-bottom: -1px;

}
.autocomplete-selected{
    background-color: deepskyblue;
    color: white;
    cursor: pointer;

}

.autocomplete-suggestion:hover{
    background-color: deepskyblue;
    color: white;
    cursor: pointer;


}

thead tr th{
    color: white;
}

#studentSuggest{
    max-height: 250px;
    position: absolute;
    width: 95.5%;
    z-index: 100;
}

.badge{
    line-height: initial;
}

div.popover{
    margin-left: 10px;
}
div.popover-body{
    color: deepskyblue;
}