<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang = "en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title th:fragment="title">Trang quản trị</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" th:href="@{/images/icon/favicon.ico}">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/css/themify-icons.css}">
        <link rel="stylesheet" th:href="@{/css/metisMenu.css}">
        <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/css/slicknav.min.css}">
        <!-- others css -->
        <link rel="stylesheet" th:href="@{/css/typography.css}">
        <link rel="stylesheet" th:href="@{/css/default-css.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/responsive.css}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
        <!-- modernizr css -->
        <script th:src="@{/js/vendor/modernizr-2.8.3.min.js}"></script>
    </head>

    <body>
        <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- preloader area start -->
        <div id="preloader">
            <div class="loader"></div>
        </div>
        <!-- preloader area end -->
        <!-- page container area start -->
        <div class="page-container">
            <!-- sidebar menu area start -->
            <th:block th:insert="~{/fragment/admin/menu.html :: div.sidebar-menu}"/>
            <!-- sidebar menu area end -->
            <!-- main content area start -->
            <div class="main-content">
                <!-- header area start -->
                <th:block th:insert="~{/fragment/admin/header.html :: div.header-area}"/>
                <!-- header area end -->
                <!-- page title area start -->
                <th:block th:insert="~{/fragment/admin/page-title.html :: div.page-title-area}"/>
                <!-- page title area end -->
                <div class="main-content-inner" layout:fragment="content">
                    <!-- MAIN CONTENT GOES HERE -->
                </div>
            </div>
            <!-- main content area end -->
            <!-- footer area start-->
            <footer th:replace="~{/fragment/admin/footer.html :: footer}"/>
            <!-- footer area end-->
        </div>
        <!-- page container area end -->
        <!-- jquery latest version -->
        <script th:src="@{/js/vendor/jquery-2.2.4.min.js}"></script>
        <!-- bootstrap 4 js -->
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/owl.carousel.min.js}"></script>
        <script th:src="@{/js/metisMenu.min.js}"></script>
        <script th:src="@{/js/jquery.slimscroll.min.js}"></script>
        <script th:src="@{/js/jquery.slicknav.min.js}"></script>
        <!-- others plugins -->
        <script th:src="@{/js/plugins.js}"></script>
        <script th:src="@{/js/scripts.js}"></script>
        <script th:src="@{/js/myScript.js}"></script>
        <script layout:fragment="script"></script>
    </body>

</html>
