<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang = "en">
<head>
    <meta charset="UTF-8">
    <title>Xem điểm thi - PTIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="index,follow">
    <meta name="revisit-after" content="7 days">
    <meta name="description" content="Trang web xem nhanh điểm thi học kỳ cho sinh viên PTIT. Cập nhật điểm thi nhanh chóng">
    <meta name="keywords" content="xem điểm thi, xem điểm thi ptit, ptit">
    <meta name="copyright" content="minhchauptit.com">
    <meta property="og:title" content="Xem điểm thi PTIT ">
    <meta property="og:description" content="Trang web xem nhanh điểm thi học kỳ cho sinh viên PTIT. Cập nhật điểm thi nhanh chóng">
    <link rel="shortcut icon" th:href="@{/favicon.ico}">
    <link rel="icon" type="image/png" th:href="@{/favicon.ico}">
<!--    bootstrap and font-awesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{/web-layer/css/styles.css}">
    <link rel="stylesheet" th:href="@{/web-layer/css/sticky-footer.css}">
    <link rel="stylesheet" th:href="@{/web-layer/css/loader.css}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159899884-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-159899884-1');
    </script>


</head>
<body class="bg-light">
    <header>
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-deepblue fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">Xem điểm thi | PTIT</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" th:href="@{/}"><i class="fa fa-search"></i><span> Điểm thi</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-line-chart"></i><span> Bảng xếp hạng</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/login}"><i class="fa fa-user"></i><span> Đăng nhập</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main role="main" class="container">
        <!--     Page Content -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12" layout:fragment="content">

                </div>
            </div>
        </div>
    </main>

    <footer class="footer bg-deepblue text-light">
        <div class="container">
            <div class="text-center">
                <small>© Copyright 2020. By <a href="#" class="text-light">dtptit.online</a></small>
            </div>
        </div>

    </footer>

    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.4.10/jquery.autocomplete.min.js"></script>
    <script th:src="@{/web-layer/js/scripts.js}"></script>
    <script layout:fragment="script"></script>
</body>
</html>