<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/admin.html}"
      lang = "en">

<head>
    <meta charset="UTF-8">
    <title>Tài khoản của tôi</title>
</head>
<body>
<!--replace page title-->
<h4 layout:fragment="page-title">Tài khoản của tôi</h4>

<!--replace breadcrumbs-->
<ul layout:fragment="breadcrumbs">
    <li><a th:href="@{/admin/home}">Trang chủ</a></li>
    <li><span>Tài khoản của tôi</span></li>
</ul>

<!--content-->
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-7 col-ml-12">
            <div class="row">
                <!-- Textual inputs start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Thông tin tài khoản</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <img style="background-color: deepskyblue; width: 150px; height: 150px" src=""/>
                                    <button type="button" style="width: 150px" class="btn btn-info btn-xs mt-3">Đổi ảnh đại diện</button>
                                </div>
                                <div class="col-md-8">
                                    <form id="accountForm" th:action="@{/api/accounts/update-email}">
                                        <input id="id" type="hidden" th:value="${session.account.id}"/>
                                        <div class="form-group">
                                            <label for="username">Tên tài khoản</label>
                                            <input type="text" disabled class="form-control" id="username" th:value="${session.account.username}" placeholder="Tên tài khoản">
                                        </div>
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email" placeholder="email" th:value="${session.account.email}">
                                        </div>
                                       <hr style="border: 1px solid deepskyblue">
                                    </form>
                                    <form th:object="${studentDTO}">
                                        <div class="form-group">
                                            <label for="studentId">Mã sinh viên</label>
                                            <input disabled type="text" class="form-control" th:field="*{studentId}" id="studentId" placeholder="Mã sinh viên..">
                                        </div>
                                        <div class="row">
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="firstName">Họ và tên đệm</label>
                                                    <input type="text" disabled class="form-control" id="firstName" placeholder="họ và tên đệm..." th:field="*{firstName}" >
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="lastName">Tên</label>
                                                    <input type="text" disabled class="form-control" id="lastName" placeholder="tên..." th:field="*{lastName}" >
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <button id="btnSaveAccount" type="button" class="btn btn-primary mt-4 pr-4 pl-4 ml-3">Lưu thay đổi</button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Textual inputs end -->
            </div>
        </div>
        <div class="col-md-5 col-ml-12">
            <div class="row">
                <!-- basic form start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="header-title">Đổi mật khẩu</h4>
                            <form id="changePasswordForm">
                                <a id="checkPasswordUrl" th:href="@{/api/accounts/check-password}" style="display: none"></a>
                                <a id="changePasswordUrl" th:href="@{/api/accounts/change-password}" style="display: none"></a>
                                <a id="redirectMyAccount" th:href="@{/admin/my-account}" style="display: none"></a>
                                <div class="form-group">
                                    <label for="password">Mật khẩu cũ</label>
                                    <input type="password" class="form-control" id="password" placeholder="mật khẩu cũ...">
                                </div>
                                <button id="checkOldPassword" type="button" class="btn btn-primary mt-4 pr-4 pl-4">Tiếp <i class="ti-arrow-right"></i></button>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- basic form end -->
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script"></script>
</body>
</html>