<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div class="sidebar-menu">
    <div class="sidebar-header">
        <div class="logo">
            <a href="#"><img th:src="@{/images/icon/logo.png}" alt="logo"/></a>
        </div>
    </div>
    <div class="main-menu">
        <div class="menu-inner">
            <nav>
                <ul class="metismenu" id="menu">

                    <li id="menuDashboard">
                        <a th:href="@{/admin/home}">
                            <i class="ti-dashboard"></i><span>Bảng điều khiển</span>
                        </a></li>
                    <li id="menuAccount">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-user"></i><span>Quản lý tài khoản </span></a>
                        <ul class="collapse">
                            <li id="menuListAccount"><a href="#"><i class="fa fa-list"></i><span>Danh sách tài khoản</span></a></li>
                            <li id="menuAddAccount"><a href="#"><i class="fa fa-user-plus"></i><span>Thêm tài khoản</span></a></li>
                        </ul>
                    </li>
                    <li id="menuStudent">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-graduation-cap"></i><span>Quản lý sinh viên</span></a>
                        <ul class="collapse">
                            <li id="menuListStudent"><a href="#"><i class="fa fa-list"></i><span>Danh sách sinh viên</span></a></li>
                            <li id="menuAddStudent"><a href="#"><i class="ti-plus"></i><span>Thêm sinh viên</span></a></li>
                        </ul>
                    </li>
                    <li id="menuSubject">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="ti-folder"></i><span>Quản lý môn học</span></a>
                        <ul id="listMenuSubject" class="collapse">
                            <li id="menuListSubject">
                                <a th:href="@{/admin/subject/list}">
                                    <i class="fa fa-list"></i><span>Danh sách môn học</span>
                                </a></li>
                            <li id="menuAddSubject">
                                <a th:href="@{/admin/subject/add}">
                                    <i class="ti-plus"></i><span>Thêm môn học</span>
                                </a></li>
                        </ul>
                    </li>
                    <li id="menuScore">
                        <a href="javascript:void(0)" aria-expanded="true"><i class="fa fa-tasks"></i><span>Quản lý điểm thi </span></a>
                        <ul class="collapse">
                            <li id="menuUploadScore"><a href="#"><i class="ti-upload"></i><span>Upload file điểm</span></a></li>
                            <li id="menuSearchScore"><a href="#"><i class="ti-search"></i><span>Tìm kiếm điểm thi</span></a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>