<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">
<head>
</head>
<body>
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <h4 layout:fragment="page-title" class="page-title pull-left">Dashboard</h4>
                <ul layout:fragment="breadcrumbs" class="breadcrumbs pull-left">
                    <li><a href="index.html">Home</a></li>
                    <li><span>Dashboard</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 clearfix">
            <div class="user-profile pull-right">
                <img class="avatar user-thumb" th:src="@{/images/author/avatar.png}" alt="avatar">
                <th:block th:if="${session.account}">
                    <h4 class="user-name dropdown-toggle" data-toggle="dropdown" th:text="${session.account.username}" > <i class="fa fa-angle-down"></i></h4>
                </th:block>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Tài khoản của tôi</a>
                    <form method="post" th:action="@{/logout}">
                        <button type="submit" class="dropdown-item">Đăng xuất</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>