<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/admin.html}"
      lang = "en">

<head>
    <meta charset="UTF-8">
    <title th:fragment="~{/layout/admin.html :: title}">Danh sách môn học</title>
</head>
<body>
<!--replace page title-->
<h4 layout:fragment="page-title">Quản lý môn học</h4>

<!--replace breadcrumbs-->
<ul layout:fragment="breadcrumbs">
    <li><a th:href="@{/admin/home}">Trang chủ</a></li>
    <li><span>Quản lý môn học</span></li>
</ul>

<!--content-->
<div layout:fragment="content">
    <div class="row">
        <div class="col-12 mt-5">
            <th:block th:if="${param.insert_success}">
                <div class="alert alert-success" role="alert">
                    <strong>Well done!</strong> Thêm môn học mới thành công
                </div>
            </th:block>
            <th:block th:if="${param.insert_error}">
                <div class="alert alert-success" role="alert">
                    <strong>Opps!</strong> Có lỗi xảy ra. Vui lòng thử lại sau
                </div>
            </th:block>
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Danh sách môn học</h4>
                    <div class="single-table">
                        <div class="table-responsive">
                            <table class="table table-bordered text-center">
                                <thead class="text-uppercase">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Tên môn học</th>
                                    <th scope="col">Chuyên cần</th>
                                    <th scope="col">Kiểm tra</th>
                                    <th scope="col">TN-TH</th>
                                    <th scope="col">Bài tập lớn</th>
                                    <th scope="col">Thời gian khởi tạo</th>
                                    <th scope="col">Hành động</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr th:each="item : ${subjects}">
                                    <th scope="row" th:text="${item.id}"></th>
                                    <td th:text="${item.name}"></td>
                                    <td th:text="${item.subjectDetail.attendanceWeight}+'%'"></td>
                                    <td th:text="${item.subjectDetail.midTermExamWeight}+'%'"></td>
                                    <td th:text="${item.subjectDetail.practiceWeight}+'%'"></td>
                                    <td th:text="${item.subjectDetail.assignmentWeight}+'%'"></td>
                                    <td th:text="${item.createdAt}"></td>
                                    <td>
                                        <ul class="d-flex justify-content-center">
                                            <li class="mr-3"><a href="#" class="text-secondary"><i class="fa fa-edit"></i></a></li>
                                            <li><a href="#" class="text-danger"><i class="ti-trash"></i></a></li>
                                        </ul>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="pagination pg-color-border float-right">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1">Trước</a>
                        </li>
                        <th:block th:each="pageNumber : ${#numbers.sequence(0,totalPages - 1)}">
                            <li th:class="${currentPage==pageNumber} ? 'page-item active' : 'page-item' ">
                                <a class="page-link" href="#" th:text="${pageNumber + 1}"></a>
                            </li>
                        </th:block>
                        <li class="page-item">
                            <a class="page-link" href="#">Sau</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script layout:fragment="script">
    $(document).ready(function () {
        activeParentMenu("menuSubject","listMenuSubject");
        activeMenu("menuListSubject");
    })
</script>
</body>
</html>